@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*
다크모드를 위한 색 설정
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  background-image: url('/mainBackground.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center; 
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

div.rotate_animation {
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes tremble {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

div.tremble_animation {
  animation-name: tremble;
  animation-duration: 1.5s;
}